<h1>
  <%= @app.name %>
</h1>
<h2>
  <%= @app.description %>
</h2>

<div class="apps-container center">
  <div id="qrcode"></div>
</div>

<div class="container center button-row">
  <button class="btn download">Download</button>
  <button class="btn print">Print</button>

  <button class="btn enlarge">Enlarge Image</button>
  <button class="btn shrink">Shrink Image</button>
</div>