@import "bootstrap-sprockets";
@import "bootstrap";


/* general */
// must add padding or else nav bar overlaps content: http://getbootstrap.com/components/#navbar-fixed-top
body {
  padding-top: 70px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}